<div class="section">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-8">
        <h2 class="title is-2 has-text-centered"><%= current_user.username %>'s Events</h2>
        <div class="columns">
          <div class="column">
            <h3 class="subtitle has-text-centered">Created Events</h3>
            <% @user.created_events.each do |event|%>
            <div class="box">
              <h3 class="has-text-primary"> <%= link_to event.title, event_path(event)%>  </h2>          
              <p><strong>DATE</strong>      <%= event.date.strftime("%^b %-d, %Y") %> </p>
              <p><strong>LOCATION</strong>  <%= event.location %> </p>
            </div>
            <% end %>
          </div>

          <div class="column">
            <h3 class="subtitle has-text-centered">Upcoming Events</h3>

            <% if @user.attended_events.upcoming.empty? %>
              <div class="box">
                <p>No Upcoming Events</p>
              </div>
            <% else %>
              <% @user.attended_events.upcoming.each do |event| %>
                <div class="box">
                  <h3 class="has-text-primary"> <%= link_to event.title, event_path(event)%>  </h2>          
                  <p><strong>DATE</strong>      <%= event.date.strftime("%^b %-d, %Y") %> </p>
                  <p><strong>LOCATION</strong>  <%= event.location %> </p>
                </div>
              <% end %>
            <% end %>

            <% @user.attended_events.past.each do |event| %>
              <h3 class="subtitle has-text-centered">Past Events</h3>
              <div class="box">
                <h3 class="has-text-primary"> <%= link_to event.title, event_path(event)%>  </h2>          
                <p><strong>DATE</strong>      <%= event.date.strftime("%^b %-d, %Y") %> </p>
                <p><strong>LOCATION</strong>  <%= event.location %> </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>