<section class="section">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h2 class="title"><%= @event.title %></h2>
        <article class="media">
          <figure class="media-left">
            <div class="datetime">
              <p class="has-text-primary has-text-centered has-text-weight-semibold is-size-4"><%= @event.date.strftime("%^b") %></p>
              <p class="has-text-primary has-text-centered has-text-weight-bold is-size-1"><%= @event.date.strftime("%-d") %></p>
              <p class="has-text-primary has-text-centered has-text-weight-semibold is-size-4"><%= @event.date.strftime("%Y") %></p>
              </br>
              <p class="has-text-primary has-text-centered has-text-weight-bold is-size-6"><%= @event.date.strftime("%A") %></p>
              <p class="has-text-primary has-text-centered has-text-weight-bold is-size-6"><%= @event.date.strftime("%l:%M%p") %></p>
            </div>
          </figure>
          <div class="media-content">
            <div class="content">
              Created by <strong><%= link_to @event.creator.username, user_path(@event.creator) %></strong></br>
              Location: <%= @event.location %></br></br>
              <%= @event.description %></br></br>
              <% if user_signed_in? && current_user.id == @event.creator_id %>
                <%= link_to 'Edit', edit_event_path(@event), class: "button" %>
              <% end %>
            </div>
          </div>

          <div class="media-right is-primary">
            <div class="box">
              <h3 class="title is-4">Attendees</h3>
              <% @event.attendees.each do |attendee| %>
                <p class="has-text-primary has-text-weight-semibold is-size-6 has-text-centered"><%= link_to attendee.username, user_path(attendee) %></p>
              <% end %>
              </br>
              
              <% if user_signed_in? && current_user.id != @event.creator_id %>
              <%= link_to 'Attend', event_attend_path(@event),  class: "button" %>
              <%= link_to 'Cancel', event_cancel_attend_path(@event),  class: "button" %>
              <% end %>
            </div>

          </div>
        </article>
      </div>
      <%= link_to 'All Events', events_path, class: "button" %> 
    </div>
  </div>
</section>



