<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <nav class="navbar is-primary">
      <div class="navbar-brand ">
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-5 has-text-white">Private Events</h1>
        <% end %>
      </div>
    
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if current_user %>
                <p class="control">
                   <strong class="has-text-white"><%= link_to "<span class='icon'> <i class='fa fa-user' aria-hidden='true'></i></span>  <span>#{current_user.username}</span>".html_safe, user_path(current_user), class: "button is-primary" %></strong> 
                </p>
                <p class="control">
                  <%= link_to 'New Event', new_event_path, class: "button is-primary is-inverted"%>
                </p>
                <p class="control">
                  <%= link_to 'Log Out', logout_path, class:"button is-primary" %>
                </p>
              <% else %>
                <p class="control">
                  <%= link_to 'Sign Up', signup_path, class: "button is-primary is-inverted"%>
                </p>
                <p class="control">
                  <%= link_to 'Log In', login_path, class: "button is-primary" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="notification is-primary is-light global-notification">
        <p class="notice"><%= notice %></p>
      </div>  
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    
    <%= yield %>
    
  </body>
</html>
